/****************** ESTILO DE LA PAGINA DE FINAL FANTASY X *****************/

.color1 {background-color: white;}

.color2 {background-color: rgba(232, 197, 0, 0.719);}

.color3 {background-color: rgba(61, 142, 196, 0.644);}